__pycache__/
build/
dist/
orbdetpy.egg-info/
orbdetpy/orekit-data/
orbdetpy/target/
*.json
*.oem
*.tdm
examples/fit_radec.py
examples/test_conversion.py
examples/test_estimation.py
examples/test_interpolation.py
examples/multi_target.py
examples/multi_target_radar.py
examples/MOD_2023